@model NoteWebApp.Models.Note

<style>
    .card {
        font-size: smaller;
    }

    .card-body {
        margin: 10px, 4px, 4px, 10px;
        padding: 4px;
        background-color: whitesmoke;
        width: 23rem;
        height: 22rem;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: justify;
    }
</style>

<div class="row align-items-center justify-content-center mt-5">
    <div class="col-md-4 mb-3 text-muted">
        <h2 class="text-center">Note Details</h2>
        <div class="card text-center align-items-center mt-0 w-100 flex p-3" style="width: 40rem; height: 40rem;">
            <img src="@Model.ImageUrl" class="card-img-top img-thumbnail thumbnail-box-shadow" alt="Note Image" style="width: 300px; height: 250px;">
            <h5 class="card-title text-center text-black">@Model.Title</h5>
            <div class="card-body">
                <p class="card-text text-center m-2">@Model.Description</p>
            </div>
            <div class="card-footer text-muted mt-2" style="width: 23rem; height: 5rem;">
                Created at @Model.DateCreated by <strong>@(Model.AppUser != null ? Model.AppUser.UserName : "Unknown User")</strong>
            </div>
        </div>
    </div>
</div>